version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  test:
    jobs:
      - cypress/install:
          yarn: true
          build: yarn build
      - cypress/run:
          requires:
            - cypress/install
          yarn: true
          command: yarn test && yarn test:e2e
