@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

[data-reach-dialog-content] {
  width: 40vw;
}

@media screen and (max-width: 768px) {
  [data-reach-dialog-content] {
    width: 75vw;
  }
}
